---
import type { FileType } from '@/util/files'
import { permalink, join } from '@/util/link';

interface Props {
    parent: string,
    path: string,
    type: FileType,
}

const { parent, path, type } = Astro.props;

import DirectoryIcon from '@/assets/icons/directory.svg'; 
import ParentIcon from '@/assets/icons/parent.svg';
import FileIcon from '@/assets/icons/file.svg';
import DownloadIcon from '@/assets/icons/download.svg';

const Icon = type === 'file' ? FileIcon : path === '../' ? ParentIcon : DirectoryIcon;
---

<li class="list-row">
    <div>
        <Icon class="size-9" />
    </div>

    <a href={path} data-astro-prefetch>
        <div>
            <div>{path}</div>
            <div class="text-xs uppercase font-semibold opacity-60">{join(parent, path)}</div>
        </div>

        <a href={permalink(parent, path)} download>
            <button class="btn btn-square btn-ghost">
                {type === 'file' && (
                    <DownloadIcon class="size-[1.5em]" />
                )}
            </button>
        </a>
    </a>
</li>