---
import { getExt, isCode, isImage, isText, readLocal } from "@/util/files";
import { Code } from "astro:components";

const { path } = Astro.props;

const fileName: string = path.split('/').pop() ?? '/';
const ext: string = getExt(fileName);
---

{ isText(ext) || isCode(ext) ? (
    <Code class="p-4 mockup-code" code={readLocal(path)} lang={ext} />
) : isImage(ext) ? (
    <img src={path} alt={fileName} />
) : (
    <p>This file type cannot be previewed. Please download to view.</p>
)}