---
import { getExt, isCode, isImage, isText, readLocal } from "@/util/files";
import { Code } from "astro:components";

const { path, renderIfEmpty } = Astro.props;

const fileName: string = path.split('/').pop() ?? '/';
const ext: string = getExt(fileName);

const isTextLike = isCode(ext) || isText(ext)
const content = isTextLike ? readLocal(path) : null;
---

{ isImage(ext) ? (
    <slot />
    <img src={path} alt={fileName} />
) : isTextLike && (content || renderIfEmpty) ? (
    <slot />
    <Code class="p-4 mockup-code" code={content} lang={ext} />
) : content === null && (
    <slot />
    <p>This file type cannot be previewed. Please download to view.</p>
)}

