---
import { ClientRouter, fade, slide } from "astro:transitions";
import FavIcon from "@/assets/favicon.svg";

import "@/assets/app.css";
import GoogleAnalytics from "@/components/GoogleAnalytics.astro";

type Props = {
  title: string,
}

const { title } = Astro.props;

let animFunc;

switch (process.env.SFS_ANIM ?? 'fade') {
  case 'slide':
    animFunc = slide;
    break;
  
  case 'none':
    animFunc = null;
    break;

  case 'fade':
  default:
    animFunc = fade;
    break;
}

const duration = process.env.SFS_ANIM_TIME ?? '0.1s';
const anim = animFunc ? animFunc({ duration }) : "none";

const googleAnalyticsTag = process.env.SFS_GOOGLE_ANALYTICS;
---

<!DOCTYPE html>
<html lang="en" transition:name="root" transition:animate="none" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/svg+xml" href={FavIcon.src} />
  <title>{title}</title>

  <ClientRouter />

  { googleAnalyticsTag && (
    <GoogleAnalytics gid={googleAnalyticsTag} />
  ) }
</head>
<body>
  <main transition:animate={anim}>
    <slot />
  </main>

  <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 mt-8 rounded-lg">
    <aside><p>
      <a href="https://github.com/drtheodor/static-file-server" class="link link-accent">static-file-server</a> by @<a href="https://github.com/drtheodor" class="link link-accent">drtheodor</a>.
    </p></aside>
  </footer>
</body>
<style>
  body { 
    font-family: sans-serif; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    line-height: 1.6;
  }
</style>
</html>
