---
import "@/styles/global.css";

type Props = {
  title: string,
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
</head>
<body>
  <main>
    <slot />
  </main>

  <footer>
    Made by @<a href="https://github.com/drtheodor">drtheodor</a>.
  </footer>
</body>
<style>
  body { 
    font-family: sans-serif; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    line-height: 1.6;
  }
  footer {
    border-top: 2px solid var(--bg4-color);
    margin: 50px 0;
    padding-top: 20px;
    text-align: center;
  }

  footer > a {
    color: var(--primary-color);
  }
</style>
</html>